.buttonExit
{
    -fx-background-color : #F4F4F4;
    -fx-border-radius : 0 10 10 0;
    -fx-text-fill: black;
}
.buttonExit:hover
{
    -fx-background-color : #419A1C ;
    -fx-background-radius :  0 10 10 0;
    -fx-text-fill: #F4F4F4;
}



.buttonMin
{
    -fx-background-color : #F4F4F4;
    -fx-background-radius : 10 0 0 10;
    -fx-text-fill: black;
}
.buttonMin:hover
{
    -fx-background-color : #1761A0 ;
    -fx-background-radius :  10 0 0 10;
    -fx-text-fill: #F4F4F4;
}

